.custon-nav{
    height: 48px;
    width: 20px;
    cursor: pointer;
  
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .custon-nav2{
    height: 48px;
    width: 20px;
    cursor: pointer;
  
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .prev-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
  }
  .prev-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .next-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
  }
  .next-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .slider-nav{
    ion-icon{
        height: 100%;
    }
  }
  .slider-nav2{
    ion-icon{
        height: 100%;
    }
  }
  
  .slide-text{
    position: absolute;
    color: white;
    bottom: 30px;
  }
  ion-slides {
    height: 100%;
  }

  ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }